<body>
    <div class="outer">
    <div class="card-box">
        <div class="row">
          <div class="col-sm-4">
            <a routerLink="create" id="addbtn"  class="btn btn-success btn-rounded">Add New</a>
        </div>
      </div>
      <br>
        
        <div class="row">
                  <div class="table-responsive">
                      
                        <table class="table table-bordered" id="datatable" role="grid" >
                          <thead class="bg-primary text-dark">
                              <tr role="row">
                                <th>Crop Sale Id</th>
                                <th>Crop Id</th>
                                <th>Crop Name</th>
                                <th>Crop Image</th>
                                <th>Crop Type</th>
                                <th>Crop Quantityz(KG)</th>
                                <th>Crop Price</th>
                                <th>Farmer Id</th>
                                <th>Actions</th>
                                </tr>
                          </thead>
                          <tbody>
    <tr *ngFor="let item of croponsalelist,let crop ngForOf croplist">
    <td>{{item.cropSaleId}}</td>
    <td>{{item.cropId}}</td>
    <td>{{item.cropName}}</td>
    <td>{{crop.cropImage}}</td>
    <td>{{item.cropType}}</td>
    <td>{{item.cropQty}}</td>
    <td>{{item.cropPrice|currency:'INR'}}</td>
    <td>{{item.farmerId}}</td>
    <td><button routerLink="edit/{{item.cropSaleId}}" class="btn btn-primary">Edit</button> | <button (click)="delete(item.cropSaleId)" class="btn btn-danger">Delete</button></td>
    </tr>
                          </tbody>
                      </table>
                    
                  </div>
              </div>
            </div>
          </div>
        </body>