<!-- <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" style="font: weight bold ;font-size: x-large; font-family: 'Times New Roman', Times, serif ;" href="#">Crop Deal System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-3 mb-lg-0" style="font: weight bold ;font-size: large; font-family: 'Times New Roman', Times, serif ;">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" href="#" routerLink="/login">LogIn</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->


  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Crop Deal Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#" routerLink="/login">LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#" routerLink="/crop">Crop</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

